img{	
	width:350px;	
	border:px2 solid blue;
}
body{
	background-color:#00ffff;	
	front-family	
}
.red{
	color:red;
}	
.big_font{
	front-size:32px;
	{
#specialStyle{
	background-color:yellow;
	border:px2 solid red;
}